.coupon-container {
    margin-right: 40px;
    width: 160px;
    margin-left: -10px;
    margin-top: 6px;
}

.coupon-container .kanan-container {
    border-left: 1px dashed #ddd;
    position: relative;
}

.coupon-container .kanan-container .info-coupon::after,
.coupon-container .kanan-container .info-coupon::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.coupon-container .kanan-container .info-coupon::before {
    top: -10px;
    left: -10px;
}

.coupon-container .kanan-container .info-coupon::after {
    bottom: -10px;
    left: -10px;
}

.choosedCoupon{
    margin-right: 40px;
    height: 80%;
    width: 94%;
    margin-left: 10px;
    margin-top: 10px;
}

.btn__coupon{
    padding: 15px 15px 0px 15px;
    margin-top: -5px;
    cursor: pointer;
}
