.footer {
    padding-top: 40px;
    background: #222224;
}

.footer__logo img {
  height: 40px;
  width: 200px;
  margin-top: 60px;
}

.footer__logo h5 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 15px;
}

.footer__logo p {
    font-size: 0.9rem;
    color: #fff;
    line-height: 28px;
}

.footer__title {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.contact__logo img {
    height: 250px;
    width: 250px;
    margin-bottom: 5px;
}

.contact-item span {
    font-weight: 600;
    font-size: 1rem;
    color: #222224;
}

.contact-item p {
    color: #222224;
    background: #fcf9f3;
}

.support-item {
  background: transparent !important;
}

.support-item span {
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

.support-item p {
  color: #fff;
}

.social__links span i {
   padding: 7px;
   background: #E2E2E2;
   color: #222224;
   border-radius: 50%;
}

.copyright__text {
  font-size: 0.8rem;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .footer__title {
    font-size: 0.8rem;
  }

  .support-item span {
    font-size: 0.8rem;
  }

  .support-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {
  .copyright__text {
    text-align: center;
  }

  .social__links p {
    font-size: 0.8rem;
  }

  .social__links span {
    padding: 4px;
  }
  .social__links span a {
    font-size: 0.7rem;
  }
}
