.search_card__item {
    box-shadow: 4px 4px #B7B4B4;
    width: 90%;
    background: rgb(255, 247, 230);
  }
  
.search_card__product-title {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .search_card__product-price{
    font-size: 0.8rem;
    margin-top: -2.5rem;
  }
  
  @media only screen and (max-width: 576px) {
  
  }
  