.shipping__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.639);
  z-index: 99999;
}
 
.shipping__close {
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: 310px;
  margin-bottom: 40px;
  background: rgb(255, 255, 255);
}


.shipping__close svg {
  font-size: 35px;
}

.shipping-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    align-items: center;
}

.shipping-info__title h3{
    font-size: 30px;
    font-weight: bold;
    color: #626546;
    margin-bottom: 30px;
    margin-top: -30px;
}

.shipping-info__container{
    width: 400px;
    height: 600px;
    background-color: #fff;
    padding: 30px;
    margin: 30px 20px 30px 0px;
    border-radius: 0px 30px 30px 0px;
    border-left: 2px dashed #CCA085;
    text-align: center;
}

.shipping-info__content input{
    margin-bottom: 20px;
    border: 2px solid #626546;
    padding-left: 20px; 
    padding: 6px 0px 6px 20px;
    border-radius: 10px;
    background: rgb(244, 244, 244);
    width: 90%;
}

.payment-info__button button{
    margin-top: 5px;
    background-color: #626546;
    border: none;
    color: #fff;
    border-radius: 15px;
    padding: 10px 0px 10px 0px;
    width: 90%;
    font-size: 15px;
    font-weight: bold;
}

.shipping-info__content button:hover{
    background-color: #EBC7AF;
    color: #626546;
    font-size: 15px;
    font-weight: bold;
}

.shipping__img{
    display: flex;
    background: #fff;
    width: 450px;
    height: 600px;
    border-radius: 30px 0px 0px 30px;
}

.shipping__img img{
    width: 350px;
    height: 350px;
    margin-left: 50px;
    margin-top: 140px;
}
