.cart__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.cart {
  position: absolute;
  margin-top: 75px;
  margin-right: 80px;
  top: 0;
  right: 0;
  width: 500px;
  height: 450px;
  background: #FFE7D7;
  z-index: 999999;
  box-shadow: 5px 6px 7px rgb(0 0 0 / 29%);
}

.cart__close {
  width: 100%;
  height: 110px;
  padding: 10px 20px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 18px;
  background: #999B84;
}

.cart__close span{
  /* background: #FFE7D7; */
  margin-top: 10px;
}

.cart__close span i {
  font-size: 1.1rem;
  background: #212245;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  margin-left: 420px;
  cursor: pointer;
}

.cart__close h5 {
  margin-left: -440px;
  margin-top: 13px;
  color: #fff;
  font-size: 1.3rem;
}

.cart__item-list {
  height: calc(100vh - 140px);
  overflow-y: scroll;
  margin-bottom: 75px;
  margin-left: 10px;
}

.cart__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 20px;
  width: 100%;
  height: 70px;
  background: #999B84;
  border-radius: 0px 0px 30px 30px;
}

.cart__bottom h6 {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 10px;
  margin-left: 10px;
}

.cart__bottom h6 span {
  font-size: 1.3rem;
  font-weight: 600;
}

.cart__bottom button {
  border: none;
  padding: 3px 10px 3px;
  border-radius: 10px;
  background: #fff;
  margin-right: 12px;
}

.cart__bottom button h6 {
  color: #626546;
  font-weight: 600;
  margin-top: 7px;
  margin-right: 10px;
  font-size: 18px;
}

@media only screen and (max-width: 576px) {
  .cart {
    width: 300px !important;
  }
  .cart__close span i {
    margin-left: 240px;
  }
}
