.cart__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.639); */
  z-index: 99999;
}

.cart {
  position: absolute;
  margin-top: 75px;
  margin-right: 80px;
  top: 0;
  right: 0;
  width: 450px;
  height: 450px;
  background: #fff;
  z-index: 999999;
  box-shadow: 5px 6px 7px rgb(0 0 0 / 29%);
}

.cart__close {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  margin-top: 15px;
}

.cart__close span i {
  font-size: 1.1rem;
  background: #212245;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  margin-left: 370px;
  cursor: pointer;
}

.cart__item-list {
  height: calc(100vh - 140px);
  overflow-y: scroll;
  margin-bottom: 80px;
}

.cart__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 20px;
  width: 100%;
  height: 80px;
  background: #999B84;
  border-radius: 0px 0px 30px 30px;
}

.cart__bottom h6 {
  font-size: 1rem;
  color: #fff;
}

.cart__bottom h6 span {
  font-size: 1.3rem;
  font-weight: 600;
}

.cart__bottom button {
  border: none;
  padding: 4px 20px;
  border-radius: 5px;
  background: #fff;
  color: #212245;
}

.cart__bottom button a {
  color: #212245;
  font-weight: 600;
}

@media only screen and (max-width: 576px) {
  .cart {
    width: 300px !important;
  }
  .cart__close span i {
    margin-left: 240px;
  }
}
